.descript {
    margin-top: 20px;
}

.imgPrimary {
    width:699px;
    height: 274px;
    margin-left: 50px;
}

.imgSecondary {
    width:594px;
    height: 274px;
    margin-left: 50px;
}


.divSection {
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.colourDescription {
   margin: 40px 20px;
}

.spacing {
    margin-bottom: 50px;
}