html, body {
    margin: 0;
    justify-content: center;
    background-color: #cce6f4;
}
.main {
    justify-content: center;
    width: 100vw;
}
.container { /*this is the white div container*/
    background-color: white;
    justify-content: center;
    margin: 0 auto;
    border-radius: 15px;
    width: 80vw;
    margin-bottom: 80px;
    padding: 30px 50px;
    word-wrap: break-word;
}
.container > h1 {
    text-align: center;
}
.header {
    background-color: #247ba0;
    min-height: 50px;
    max-height: 50px;
    width: 100vw;
    margin-bottom: 50px;
}
.headerStuff {
    background-color: #247ba0;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
}

/* =============================
    flex stuff
============================= */
.flex {
    display: flex;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}

/* ===========================
    header stuff
============================ */
.logo {
    align-items: center;
    margin: 20px;
    text-decoration: none;
}
.logo > h6 {
    margin-left: 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 20px;
    text-decoration: none;
}
a > h6 {
    font-size: 16px;
    line-height: 24px;
    color: white;
}
li a:hover {
    background-color: #134459;
}
.active {
    text-decoration: underline;
}

/* ===========================================================
        text related
=========================================================== */
h1, h2, h3, h4, h5, h6, li {
    font-family: 'Lexend Giga', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    line-height: 72px;
    color: #14455a;
}
h2 {
    font-size: 32px;
    line-height: 48px;
    color: #000000;
}
h3 {
    font-size: 26px;
    line-height: 39px;
    color: #000000;
}
h4 {
    font-size: 22px;
    line-height: 33px;
    color: #50514f;
}
h5 {
    font-size: 20px;
    line-height: 30px;
    color: #50514f;
}
h6, a {
    font-size: 16px;
    line-height: 24px;
    color: #50514F;
}
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: black;
    word-wrap: break-word;
}

/* ===========================================================
        media query
=========================================================== */

@media only screen and (min-width: 1300px) {
    .headerStuff {
        width: 1200px;
        margin: 0 auto;
    }
    .container {
        width: 1100px;
    }
}

/* ===========================================================
        icons
=========================================================== */

.icons {
    display: flex;
    flex: 1;
    height: 145px;
    justify-content: space-between;
}

.icons_text {
    flex-direction: column;
    margin: 20px;
    text-align: center;
    align-self: flex-end;
}

.icon_images {
    width: 193px;
    height: 100px;
}

.icon_margin {
    margin-top: 35px;
}

#difficulty_margin {
    margin-top: 120px;
}

.colors_icons{
    display: flex;
    justify-content: flex-end;
    margin-left: 40px;
    height: 145px;
    align-self: flex-end;
}

.light_blue_info{
    margin-left: 20px;
}

.colors_margin {
    margin-top: 30px;
}

.color_blocks{
    justify-content: flex-end;
}

.color_info{
    margin-left: 15px;
}

.icon-section{
    margin-bottom: 100px;
}

#yellow{
    padding-top: 50px;
}

.rightMargin {
    margin-right: 42px;
}

.advanced-image {
    width: 220px;
    height: 120px;
}


/* ===========================================================
        imagery
=========================================================== */

.imagery{
    display: flex;
}

.small-img{
   justify-content: space-between;
   flex: 1;
}

.big-img{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
}

.align_images{
    display: flex;
}

.small_layouts{
    padding: 10px;
}