 html, body {
    margin: 0;
    justify-content: center;
    background-color: #cce6f4;
}
.main {
    justify-content: center;
    width: 100vw;
}
.container { /*this is the white div container*/
    background-color: white;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    margin: 0 auto;
    border-radius: 15px;
    width: 80vw;
    padding: 30px 50px;
    margin-bottom: 80px;
    word-wrap: break-word;
}
.container > h1 {
    text-align: center;
}
.header {
    background-color: #247ba0;
    min-height: 50px;
    max-height: 50px;
    width: 100vw;
    margin-bottom: 50px;
}
.headerStuff {
    background-color: #247ba0;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
}

/* =============================
    home.html stuff
============================= */
#homeImgLogo {
    padding: 30px;
    width: 400px;
}

#homeDescript {
    width: 750px;
    margin-bottom: 50px;
}

.centeraligned {
    align-items: center;
}
/* =============================
    flex stuff
============================= */
.flex {
    display: flex;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}

/* ===========================
    header stuff
============================ */
.logo {
    align-items: center;
    margin: 20px;
    text-decoration: none;
}
.logo > h6 {
    margin-left: 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 20px;
    text-decoration: none;
}
a > h6 {
    font-size: 16px;
    line-height: 24px;
    color: white;
}
li a:hover {
    background-color: #134459;
}
.active {
    text-decoration: underline;
}

/* ===========================================================
        text related
=========================================================== */
h1, h2, h3, h4, h5, h6, li {
    font-family: 'Lexend Giga', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    line-height: 72px;
    color: #14455a;
}
h2 {
    font-size: 32px;
    line-height: 48px;
    color: #000000;
}
h3 {
    font-size: 26px;
    line-height: 39px;
    color: #000000;
}
h4 {
    font-size: 22px;
    line-height: 33px;
    color: #50514f;
}
h5 {
    font-size: 20px;
    line-height: 30px;
    color: #50514f;
}
h6, a {
    font-size: 16px;
    line-height: 24px;
    color: #50514F;
}

/* p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: black;
} */

/* ===========================================================
        typography
=========================================================== */
.typo-container{
    width: 100%; 
    margin-bottom: 0;
}

.typo-cont{
    width: 100%; min-height: 130px;
    margin-bottom: 40px;
}

.typo-cont > h1, h2{
    text-align: center;
}

.typo-cont > h2{
    margin-top: 40px;
}

.left {
    flex-grow: 1;
    margin-top: 40px;    
}

.right {
    max-width: 380px;
    min-width: 380px;
    min-height: 700px;
    margin: 40px 0 0 20px;  
    box-sizing: border-box; 
    position: relative;
}

/* LEXEND GIGA TYPO STARTS HERE */

/* LEXEND GIGA - LEFT BOX STARTS */
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Lexend Giga', sans-serif;
    font-weight: 400;
}

.h1 {
    font-size: 48px;
    line-height: 72px;
    color: #14455a;
    word-wrap: break-word;
}
.h2 {
    font-size: 32px;
    line-height: 48px;
    color: #000000;
    word-wrap: break-word;
}
.h3 {
    font-size: 26px;
    line-height: 39px;
    color: #000000;
    word-wrap: break-word;
}
.h4 {
    font-size: 22px;
    line-height: 33px;
    color: #50514f;
    word-wrap: break-word;
}
.h5 {
    font-size: 20px;
    line-height: 30px;
    color: #50514f;
    word-wrap: break-word;
}
.h6 {
    font-size: 16px;
    line-height: 24px;
    color: #50514f;
    word-wrap: break-word;
}

.p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-size: 18px;
    color: #000000;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: black;
    word-wrap: break-word;
}

.typo-cont > ul > li {
    margin-bottom: 30px;
}

.typo-cont > ul > li:last-child{
    margin: 0;
}

.color-box {
    width: 40px; height: 85px;
    margin-right: 10px;
}

.color-text {
    text-align: left;
    font-size: 24px;
    margin: 0;
    margin-right: 20px;
}

.color-text:first-child {
    margin-bottom: 26px;
    box-sizing: border-box;
}

.color-h1 {
    background-color: #14455a;
}

.color-h2 {
    background-color: #000;
}

.color-h4 {
    background-color: #50514f;
}

.head-text {
    line-height: 80px;
    text-align: left;
}/*left box ends here*/


/* LEXEND GIGA - RIGHT BOX STARTS */
/* color chip starts */
.text-detail-cont {
    margin-bottom: 50px;
}

.text-detail > ul > li {
    display: block;
    font-size: 16px;
}

.color-chip:first-child {
    background-color: #14455a;
}

.color-chip:nth-child(2) {
    background-color: #000000;
}

.color-chip:last-child {
    background-color: #50514F;
    margin-right: 0;
}

.color-chip {
    display: block;
    width:105px; height: 225px; 
    margin-right: 10px;  
    position: relative;
}

.color-chip > p{
    width: 95%;
    font-family: 'Lexend Giga', sans-serif;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%; margin-left: -47.5%;    
}

/* font example starts */
.text-detail-txt {
    justify-content: space-between;
}

.text-detail-txt > li {
    margin-top: 30px;
}

.txt-ex-l {
    font-family: 'Lexend Giga', sans-serif; 
}

.txt-ex-400 {
    font-weight: 400;
}

/* leading & tracking starts */
.leading-cont {
    position: absolute;
    bottom: 30px;
}

.leading-cont > ul > li {
    margin: 20px 0;
}

.leading-cont > ul > li:last-child{
    margin-bottom: 0;
}

.leading-cont > ul > li > p {
    width: 120px; height: 60px;
    font-family: 'Lexend Giga', sans-serif; 
    font-size: 18px;
    margin: 0; padding-top: 25px;
    line-height: 35px;
    color: #50514F;
    /* vertical-align: bottom; */
    box-sizing: border-box;
}

.leading-cont > ul > li > span {
    font-size: 48px;
    color: #14455A;
}/* lexend giga typo ends here */


/* MONTSERRAT TYPO STARTS HERE */
/* MONTSERRAT - LEFT BOX STARTS */
.montserrat {
    font-family: montserrat;
}

.txt-ex-500 {
    font-weight: 500;
}

.typo-cont-m {
    margin-bottom: 0;
}

.typo-cont-m > div > ul > li {
    margin-bottom: 45px
}

.typo-cont-m > div > ul > li:last-child {
    margin-bottom: 0;
}

.txt-ex-m {
    font-family: 'Montserrat', sans-serif;
}

.col-w {
    width: 100px; height: 80px;
}

.color-p {
    background-color: #000;
}

.color-a {
    background-color: #50514F;
}

.color-act {
    background-color: #247BA0;
}

.p-underline {
    text-decoration: underline;
    color: #50514F;
}

.p-action  {
    color: #247BA0;
}

/* MONTSERRAT - RIGHT BOX STARTS */
/* color chip starts*/
.color-chip-m:first-child {    
    background-color: #000000;
}

.color-chip-m:nth-child(2) {    
    background-color: #50514F;
}

.color-chip-m:last-child {
    background-color: #247BA0;
    margin-right: 0;
}
.leftaligned {
    text-align: left;
}

/* ===========================================================
        media query
=========================================================== */

@media only screen and (min-width: 1300px) {
    .headerStuff {
        width: 1200px;
        margin: 0 auto;
    }
    .container {
        width: 1100px;
    }
}
