 html, body {
    margin: 0;
    justify-content: center;
    background-color: #cce6f4;
}
.main {
    justify-content: center;
    width: 100vw;
}
.container { /*this is the white div container*/
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    border-radius: 15px;
    width: 80vw;

    /* margin: 50px 100px; */
    padding: 30px 50px;
    word-wrap: break-word;
}
.container > h1 {
    text-align: center;
}
.header {
    background-color: #247ba0;
    min-height: 50px;
    max-height: 50px;
    width: 100vw;
    margin-bottom: 50px;
}
.headerStuff {
    background-color: #247ba0;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
}




/* =============================
    flex stuff
============================= */
.flex {
    display: flex;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}

/* ===========================
    header stuff
============================ */
.logo {
    align-items: center;
    margin: 20px;
    text-decoration: none;
}
.logo > h6 {
    margin-left: 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
li a:hover {
    background-color: #134459;
}
.active {
    text-decoration: underline;
}

/* ===========================================================
        text related
=========================================================== */
h1, h2, h3, h4, h5, h6, li {
    font-family: 'Lexend Giga', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    color: #14455a;
}
h2 {
    font-size: 32px;
    color: #000000;
}
h3 {
    font-size: 26px;
    color: #000000;
}
h4 {
    font-size: 22px;
    color: #50514f;
}
h5 {
    font-size: 20px;
    color: #50514f;
}
h6, a {
    font-size: 18px;
    color: #000000;
}

p {
    font-family: 'Lexend Giga', sans-serif;
    font-size: 18px;
    color: black;
}

/* ===========================================================
        media query
=========================================================== */

@media only screen and (min-width: 1300px) {
    .headerStuff {
        width: 1200px;
        margin: 0 auto;
    }
    .container {
        width: 1100px;
    }
}